* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*:focus {
  outline: none;
}
html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.App p {
  margin-bottom: 50px;
  font-size: 2.4rem;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.dd-wrapper {
  user-select: none;
  position: relative;
  width: 225px;
}
.dd-wrapper .dd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 38px;
  border: 2px solid #dfdfdf;
  border-radius: 3px;
  cursor: default;
  position: relative;
  background-color: #fff;
}
.dd-wrapper .dd-header span {
  margin-right: 20px;
}
.dd-wrapper .dd-header-title {
  font-weight: 300;
  margin: 3px 45px;
  margin-right: 30px;
}
.dd-wrapper .angle {
  color: #000;
  margin-right: 20px;
}
.dd-wrapper .dd-list {
  z-index: 10;
  position: absolute;
  width: 100%;
  border: 2px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 5px -1px #e8e8e8;
  font-weight: 700;
  padding: 15px 0;
  max-height: 215px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.dd-wrapper .dd-list .dd-list-item {
  width: 100%;
  font-size: 1.5rem;
  padding: 8px 10px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dd-wrapper .dd-list .dd-list-item.selected {
  color: #fff;
  background-color: #ffcc01;
}
.dd-wrapper .dd-list .dd-list-item:hover {
  color: #fff;
  background-color: #ffcc01;
}
